html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  overflow: scroll;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#loginScreen {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  background-color: rgba(44, 161, 161, 0.726);
  background-image: url('https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg');
}

#signupForm {
  width: 100%;
  display: grid;
  justify-content: center;
}

#signupForm p {
  height: 15px;
  color:  red;
  margin: 0px;
  justify-self: center;
  position: relative;
}

#signupForm .signInput {
  font-size: 20px;
  width: 350px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 15px;
  background-color: rgb(221, 221, 221);
}

#loginTitle{
  margin: 0;
  font-size: 40px;
  height: 50px;
}

#signupForm select{
  width: 100px;
  font-size: 20px;
  height: 35px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}

#signupForm #submit{
  margin-top: 20px;
  font-size: 25px;
  width: 125px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}

#signUpTitle{
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;;
  justify-self: center;
}

#loginNotice{
  margin: 0;
  font-size: 30px;
}

#loginForm #submit{
  margin-top: 20px;
  font-size: 25px;
  width: 125px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}
#loginForm p {
  height: 15px;
  color:  red;
  margin: 5px;
  justify-self: center;
  position: relative;
}

.logInput {
  font-size: 20px;
  width: 350px;
  height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: rgb(221, 221, 221);
}

#loginForm {
  width: 100%;
  display: grid;
  justify-content: center;
}

label {
  font-size: 20px;
  font-weight: 900;
}

#colorLabel {
  justify-self: center;
  margin-bottom: 10px;
}

.loginDivider{
  height: 3px;
  width: 102%;
  background-color: black;
}

#loginBackground{
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-color: rgb(43, 156, 141);
  justify-self: center;
  border-radius: 10px;
}

#loginTitle, .loginDivider, #signupForm, #loginNotice, #loginForm {
  z-index: 1; 
}

#navBar {
  z-index: 1;
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  display: flex;
  justify-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid black;
}

#LinkContainer{
  height: 60px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#navBar input{
  height: 60px;
  font-size: 30px;
}

#logoutButton{
  width:  150px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  background-color: red;
}

.nav-link{
  height: 50px;
  width: 100px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  background-color: rgb(43, 156, 141);
  align-content: center;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
}

#profileLabel{
  height: 60px;
  text-align: center;
  place-content: space-evenly;
  font-size: 30px;
}

#orLabel{
  height: 60px;
  text-align: center;
  place-content: space-evenly;
  font-size: 30px;
}

#deleteAcountButton{
  width:  225px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  background-color: red;
}

#home_page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(43, 156, 141);
}

#topSec{
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#userGreeting{
  margin-top: 12%;
  font-size: 60px;
}

#colorContainer{
  width: 500px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 200px;
}

#colorLabelHome,  #colorHome, #userGreeting, #colorContainer{
  align-self: center;
}

#colorContainer input{
  height: 60px;
  width:  100px;
  border: 5px solid black;
  border-radius: 5px;
  margin: 10px;
}

#colorHome{
  margin-top: 60px;
  font-size: 30px;
  border: 3px solid black;
  border-radius: 5px;
}

#colorLabelHome{
  font-size: 20px;
  margin: 30px;
}

#dividerHomeTop, #dividerHomeBottom, #dividerCar, #dividerMeet{
  width: 100%;
  height: 5px;
  border: 5px solid black;
}

#garageSec{
  width: 100%;
  background-color: rgb(43, 156, 141);
  margin-top: 0px;
}

#carTitle, #meetTitle{
  font-size: 40px;
  justify-self: center;
  border-radius: 10px;
  border: 5px solid black;
}

#carGrid, #meetGrid, #marketGrid, #meetsGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#carGrid > *{
  height: 300px;
  width:  400px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid black;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 124, 112);
}

.removeButton{
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
}

#meetGrid > *{
  height: 300px;
  width:  400px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid black;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 124, 112);
  font-size: 20px;
}

.leaveButton{
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  background-color: red;
  font-family: 'Lucida Sans';
}

.meetTitleSpot{
  font-size: 30px;
}

.meetNameSpot{
  font-size: 25px;
}

#meetsSec{
  width: 100%;
  background-color: rgb(43, 156, 141);
}

#cars{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(43, 156, 141);
}

#marketTitle{
  font-size: 50px;
  margin-top: 12%;
}

#marketGrid > *{
  height: 300px;
  width:  400px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid black;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 124, 112);
}

#carForm{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#carFormDiv{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

#carForm p{
  height: 25px;
  color:  red;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center;
  position: relative;
}

.carFormInput{
  font-size: 20px;
  width: 350px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(221, 221, 221);
}

#carForm #submit{
  margin-top: 20px;
  font-size: 25px;
  width: 125px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}

#marketTitle{
  border-radius: 10px;
  border: 5px solid black;
}

#carForm select{
  width: 100px;
  font-size: 20px;
  height: 35px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}

#marketTitleBottom{
  text-align: center;
  width: 150px;
  font-size: 40px;
  margin-top: 60px;
  border-radius: 10px;
  border: 5px solid black;
  z-index: 0;
}

#meets{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(43, 156, 141);
}

#meetsTitle{
  font-size: 50px;
  margin-top: 12%;
}

#meetsGrid > *{
  width: 35%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  outline: 5px solid rgb(58, 58, 58);
}

.meetType{
  margin: 0;

}

.tierButton{ 
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 10px;
}


#meetForm{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#meetFormDiv{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

#meetForm p{
  height: 25px;
  color:  red;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center;
  position: relative;
}

.meetFormInput{
  font-size: 20px;
  width: 350px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(221, 221, 221);
}

#meetForm #submit{
  margin-top: 20px;
  font-size: 25px;
  width: 125px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}

#meetsTitle{
  border-radius: 10px;
  border: 5px solid black;
}

#meetForm select{
  width: 100px;
  font-size: 20px;
  height: 35px;
  justify-self: center;
  background-color: rgb(221, 221, 221);
}

#meetsTitleBottom{
  text-align: center;
  width: 150px;
  font-size: 40px;
  margin-top: 60px;
  border-radius: 10px;
  border: 5px solid black;
  z-index: 0;
}